body {
    border: 1px solid yellow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

h3 {
    color: red;
    text-decoration: underline;
    margin: 15px;
}

p {
    color: blueviolet;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid green;
    margin: 20px;
}

77 p:hover {
    color: rgb(45, 223, 45);
}

button {
    color: rgb(255, 102, 0);
    padding: 5px;
    border: 2px solid green;
    font-size: 16px;
    background-color: rgb(233, 227, 227);
    margin: 10px;
}