body {
    text-align: center;
}

#p01,
#p02,
#p03,
#p04 {
    width: 23%;
    height: 200px;
    border: 1px solid rgb(241, 190, 190);
    float: left;
    margin: 11px;
    color: green;
    text-decoration: underline;
    background-color: rgb(224, 221, 221);
}

img {
    margin: 10px auto;
    padding: 5px;
    border: 2px solid yellow;
}

h3 {
    color: rgb(116, 25, 201);
    font-family: cursive;
}

.electron-in-page-search-window {
    position: fixed;
    top: 0;
    right: 0;
    border: solid grey 1px;
}


/*
   * .search-inactive is added to search window <webview> when the window
   * is inactive.
   */

.search-inactive {
    visibility: hidden;
}


/*
   * .search-inactive is added to search window <webview> when the window
   * is active.
   */

.search-active {
    visibility: visible;
}